<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/"
                     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                     xsi:schemaLocation="http://jakarta.apache.org/log4j/ ">
    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %p [%t] %c{1}.%M(%L) | %m%n"/>
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="${machinelearning.test.log4j.level}"/>
        </filter>
    </appender>
    <appender name="machinelearning-test" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="encoding" value="UTF-8"/>
        <param name="Append" value="true"/>
        <param name="file" value="${machinelearning.test.log4j.home}/machinelearning-test.log"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %p [%t] %c{1}.%M(%L) | %m%n"/>
        </layout>
    </appender>
    <appender name="machinelearning-test-error" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="encoding" value="UTF-8"/>
        <param name="Append" value="true"/>
        <param name="file" value="${machinelearning.test.log4j.home}/machinelearning-test-error.log"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %p [%t] %c{1}.%M(%L) | %m%n"/>
        </layout>
    </appender>

    <category name="machinelearning-test" additivity="true">
        <priority value="${machinelearning.test.log4j.level}"/>
        <appender-ref ref="machinelearning-test"/>
    </category>
    <category name="machinelearning-test-error" additivity="true">
        <priority value="CONSOLE"/>
        <appender-ref ref="machinelearning-test-error"/>
    </category>

    <logger name="com.amazonaws.*" additivity="false">
        <!--指定类的日志级别，会影响指定类日志发出信息的成功与否-->
        <level value = "WARN" />
        <appender-ref ref="appender-3" />
    </logger>

    <root>
        <priority value="${machinelearning.test.log4j.level}"/>
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="machinelearning-test"/>
    </root>
</log4j:configuration>